* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #DDDDDD;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 20px 0 20px;
}

header{
    text-align: left;
    font-size: 2em;
    padding: 30px 0 10px 30px;
}

.gallery{
    display:flex;
}

.item{
    flex:1;
}

.form{
    background-color:white;
}

.main{
    display:flex;
    padding:30px;
}

.column{
    flex:1;
}

.pImg{
    width:100%;
    overflow:hidden;
    margin:0; 
}
.pImg img{
    display:block;
    width:100%;
    margin:-102.25% 0 -27.75%;
}
