.container{
    background-color: grey;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: left;
}

.gallery{
    display:flex;
}

.item{
    flex:1;
}

.form{
    background-color:white;
}

.main{
    display:flex;
    padding:30px;
}

.column{
    flex:1;
}

.pImg{
    width:100%;
}